body {
    margin: 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: darkslategray;
    flex-direction: row;
    list-style-type: none;
}
nav a{
    color: #d2cece;
    text-decoration: none;
    font-size: 25px;
}
li{
    margin: 20px;
    padding: 20px;
}
#titulo{
    color: #234141;
    text-align: center;
    font-size: 50px;
}
main{
    display: flex;
    flex-direction: column;
}

.contenedorValores{
    display: flex;
    border: 3px solid darkslategray;
    border-radius: 20px;
    padding: 10px;
}
.contenedorValores div{
    background-color: rgba(103, 166, 166, 0.5);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}

.misionVision{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

/*Footer:*/
footer {
    display: flex;
    width: 100%;
    background-color: darkslategray;
    list-style-type: none;
    justify-content: space-around;
}

footer img {
    width: 50px;
}
footer p, a {
    color: #d2cece;
    font-size: 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .menu{
        display: flex;
        margin: 40px;
    }
    .contenedorValores {
        flex-direction: column;
    }
    .misionVision {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
    nav a {
        font-size: 20px;
    }
    #titulo {
        font-size: 30px;
    }
    footer p, a {
        font-size: 18px;
    }
    footer img {
        width: 40px;
    }
}
