body {
    margin: 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: darkslategray;
    flex-direction: row;
    list-style-type: none;
}
nav a{
    color: #d2cece;
    text-decoration: none;
    font-size: 25px;
}
li{
    margin: 20px;
    padding: 20px;
}
#titulo{
    color: #234141;
    text-align: center;
    font-size: 50px;
}
main{
    display: flex;
    flex-direction: column;
}

.Container2 img{
    width: 400px;
}
.Container2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.imgCont2{
    display: flex;
    justify-content: center;
}


.Container2 h3{
    text-align: center;
}

.Container2 h2{
    text-align: center;
    font-size: 50px;
}

/*Footer:*/
footer {
    display: flex;
    width: 100%;
    background-color: darkslategray;
    list-style-type: none;
    justify-content: space-around;
}

footer img {
    width: 50px;
}
footer p, a {
    color: #d2cece;
    font-size: 20px;
}

@media (max-width: 768px) {
    .menu li a{
        font-size: 20px;
    }

    .menu{
        display: flex;
        justify-content: space-around;
    }
    .menu ul{
        padding-left: 40px;
        padding-right: 40px;
    }

}
